:root {
  --workspace-height: 40vh;
  --panel-heading-height: 45px;
}

/**
 * Default working height
 */
.workspace-body {
  height: var(--workspace-height);
}

/**
 * Reset styles for textareas inside panel
 */
.panel-block.panel-control {
  padding: 0;
}

/**
 * Set bottom radius on panels
 */
.panel > :last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/**
 * Set sticky hearder in the contact list
 */
.panel.scroll-panel {
  overflow-y: auto;
  position: relative;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.panel.scroll-panel > .panel-block {
  border-left: none;
  border-right: none;
}

.panel.scroll-panel > .panel-heading {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-left: none;
  border-right: none;
  border-top: none;
}

/**
 * Set correct size for textarea
 */
.history-area {
  width: 100%;
}

/**
 * Styling scrollbars
 */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  border-radius: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}

/**
 * Remove borders and background from messages
 */
.message.is-transparent {
  background: transparent;
}

.message.is-transparent .message-body {
  border: none;
}
